Project/IOTP1_Node-Red_Flow.txt
[{"id":"7cea4b2e.bea5ac","type":"tcp in","z":"b74aab46.681b4","name":"Receive from TinyOS","server":"server","host":"","port":"1048","datamode":"stream","datatype":"buffer","newline":"","topic":"","base64":false,"x":130,"y":120,"wires":[["62475354.1e2cc4","3ecf4cdb.f771ac"]]},{"id":"62475354.1e2cc4","type":"function","z":"b74aab46.681b4","name":"MQTT_Message","func":"var bufferArray = msg.payload;\n\nvar channelId = \"2232252\"\n\n//Convert the array into a buffer object\nvar buffer = Buffer.from(bufferArray);\n\n// topic\nvar field = \"field\"+(buffer[1] + 1);\n\n//pub value\nvar value = buffer[4];\n\n//If-Else for debug values\nif((buffer[1] + 1)=='1'){\n    node.warn(field+\": Temperature = \" + value);\n}else{\n    if((buffer[1]+1)=='2'){\n        node.warn(field+\": Humidity = \" + value);\n    }else{\n        if((buffer[1]+1)=='3'){\n            node.warn(field+\": Luminosity = \" + value);\n        }else{\n            node.warn(\"ERROR\");\n        }\n    }\n}\n\n//Preapre message MQTT\nmsg.topic = \"channels/\"+channelId+\"/publish\";\nmsg.payload = field+\"=\"+value+\"&status=MQTTPUBLISH\";\n\n//Send message MQTT\nreturn msg;\n\n\n\n\n\n\n\n","outputs":1,"noerr":0,"x":390,"y":120,"wires":[["4bd5e936.de08d8"]]},{"id":"4bd5e936.de08d8","type":"mqtt out","z":"b74aab46.681b4","name":"","topic":"","qos":"1","retain":"","broker":"5df73df3.97a204","x":650,"y":120,"wires":[]},{"id":"3ecf4cdb.f771ac","type":"debug","z":"b74aab46.681b4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":380,"y":240,"wires":[]},{"id":"5df73df3.97a204","type":"mqtt-broker","z":"","name":"IOT_Project1_MQTT","broker":"mqtt3.thingspeak.com","port":"1883","clientid":"Jis6ACIAChcrGy4dDyIUNQE","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""}]